POSTGRES_URL=
PRISMA_DATABASE_URL=
DATABASE_URL=

NEXT_PUBLIC_API_URL=/api

YOUR_GOOGLE_API_KEY=
RESEND_API_KEY=

STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=

STRIPE_SUCCESS_URL=http://localhost:3000/success
STRIPE_CANCEL_URL=http://localhost:3000/cancel
